<li [ngClass]="{'list-group-item': true,
				'list-group-item-success': post.loveIts > 0,
				'list-group-item-danger': post.loveIts < 0}">
	<div class="d-flex justify-content-between">
		<h5 class="mb-1">{{post.title}}</h5>
		<span>{{post.created_at | date:'dd MMM yyyy'}}</span>
	</div>
	<div>{{post.content}}</div>
	<button type="text" class="btn btn-success" (click)="onLoveIt()">Love It</button>
	<button type="text" class="btn btn-danger" (click)="onDontLoveIt()">Don't love It</button>
</li>